<h2 class="sponsors-heading">Sponsors & Supporters</h2>
<div class="sponsor">
    <a href="http://www.ultiphotos.com" target="_blank" class="sponsor-logo"><img src="@Url.Content("~/content/images/ultiphotos-logo-small.png")" alt="Ultiphotos logo"/></a>
    <a href="http://www.ultiphotos.com" target="_blank"><h4>Ultiphotos</h4></a>
    <p>Ultiphotos brings high-quality sports photography to Ultimate's biggest tournaments</p>
</div>