<h2 class="section-header">@@doublewidetx</h2>
<div id="twitter-feed"></div>

@{
    Html.Assets().Scripts.Add("~/content/js/lib/jquery.tweet.js");
    Html.Assets().Scripts.Add("~/content/js/twitter-settings.js");
}