@using Doublewide.Web.ViewModels;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<HomepageViewModel>
              
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.HeaderClass = "home";
}

<section class="twitter span4">
    <h2>@@doublewidetx</h2>
</section>
<section class="blog span6">
    @foreach (var post in Model.Posts) { 
        <article class="blog-post">
            <h2>@post.Title</h2>
            <p>@post.Content</p>
            <h4>@post.Timestamp.ToString("d")</h4>
        </article>
    }
</section>
