@using Doublewide.Web.Models;
@using System.Collections.Generic;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IEnumerable<BlogPostModel>>
              
@{
    Layout = "Shared/_layout.cshtml";
}

<section class="twitter span4">
    <h2>@@doublewidetx</h2>
</section>
<section class="blog span6">
    @foreach (var post in Model) { 
        <article class="blog-post">
            <h2>@post.Title</h2>
            <h4>@post.Timestamp</h4>
        </article>
    }
</section>
