@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
    background-color: #1a215c;
    font-family: 'Droid Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    margin-top: 0;
    background-color: #252c6d;
    color: #fff;   
}

header {
    height: 50px;
    background-color: #080d37;    
}

.logotype {
    height: 120px;
    background: #ed1f24 url('../images/logotype.png') no-repeat center center;
    border: 1px solid #f0696d;
    border-top: none;
    box-shadow: #080d37 1px 1px 1px;
    -moz-box-shadow: #080d37 1px 1px 1px;
    -webkit-box-shadow: #080d37 1px 1px 1px;
    -o-box-shadow: #080d37 1px 1px 1px;
}

.content {
    clear: both;   
}
