@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,200);

body {
    background-color: #1a215c;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    color: #e5e0cf;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Source Sans Pro', 'Helvetica Neue','Helvetica', Helvetica, Arial, sans-serif;
    color: #fff;
}

h1 {
    font-family: 'adelle', 'Source Sans Pro', sans-serif;
    line-height: 75px;
    font-size: 36px;
}

h2 {
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2.section-header {
    font-size: 16px;
    margin-bottom: 0;
    color: #50578c;
}

h3 {
    font-size: 16px;
    margin: 15px 0 10px 0;
    color: #2294e5
}

h4,
h5,
h6 {
    line-height: 18px;
}

h4 {
    font-size: 14px;
}

hgroup.headline {
    margin-bottom: 20px;
}

hgroup.headline h1 {
    line-height: 36px;
    margin-bottom: 10px;
}

a, a h4 {
    color: #2294e5;
}

a:hover {
    text-decoration: none;
    color: #9fd5e7;
}

p {
    font-size: 14px;
    line-height: 21px;
}

th {
    text-align: left;
    padding: 5px 15px 5px 0;
}

.container {
    position: relative;
    margin-top: 0;
    background-color: #252c6d;
    padding-bottom: 50px;   
    box-shadow: #151b4f 0px 0px 15px;
    -moz-box-shadow: #151b4f 0px 0px 15px;
    -webkit-box-shadow: #151b4f 0px 0px 15px;
    -o-box-shadow: #151b4f 0px 0px 15px;
}

header {
    height: 50px;
    background-color: #080d37;
    position: relative;
}

header.home {
    height: 480px;
    background: #080d37 url('//s3.amazonaws.com/Doublewide/images/site/banner-champions-big.jpg') no-repeat left 50px;
}

.callout {
    background-color: rgba(41,49,115,0.9);
    position: absolute;
    bottom: 0;
    /*
    -moz-box-shadow: inset 0px -4px 5px -2px #080d37;
    -webkit-box-shadow: inset 0px -4px 5px -2px #080d37;
    box-shadow: inset 0px -4px 5px -5px #080d37;
*/
}

.about-dw {
    font-family: 'adelle';
    font-weight: 200;
    font-size: 19px;
    line-height: 30px;
    padding: 25px 0;
}

nav {
    height: 50px;
}

nav a {
    font-family: 'adelle', sans-serif;
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 50px;
    padding-right: 30px;
}

.logotype {
    display: block;
    height: 120px;
    background: #ed1f24 url('//s3.amazonaws.com/Doublewide/images/site/logotype.png') no-repeat center center;
    border: 1px solid #f0696d;
    border-top: none;
    box-shadow: #080d37 0px 1px 2px;
    -moz-box-shadow: #080d37 0px 1px 2px;
    -webkit-box-shadow: #080d37 0px 1px 2px;
    -o-box-shadow: #080d37 0px 1px 2px;
}

.photo-attribution {
    position: absolute;
    right: 5px;
    padding-top: 2px;
    font-size: 12px;
    display: none;
}

.photo-attribution.visible {
    display: block;
}

.content {
border-top: 1px solid #363e8a;
}

/* Front page blog post formatting */


/* Blog post formatting */
.blog-post-timestamp {
    float: left;
    width: 40px;
    background-color: #080d37;
    margin-right: 7px;
    margin-top: 3px;
}

.blog-post-timestamp span {
    display: block;
    text-align: center;
    font-family: 'adelle';
    line-height: 20px;
}

.blog-post-timestamp-day {
    font-weight: 100;
    background-color: #121a5a;
}

.blog-post-timestamp-month {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'adelle';
}

.blog-post-header h2 {
    margin-top: 0;
    line-height: 24px;
}

.blog-post {
    padding-bottom: 30px;
    border-bottom: 1px solid #363e8a;
    margin-bottom: 30px;
}

/* Roster and players */
.player-list {
    padding-top: 15px;
}

.player-link {
    font-size: 16px;
    display: block;
    padding: 5px 0 5px 20px;
    font-weight: bold;
}

.player-link:nth-child(odd) {
    background-color: #293173;
}

a.player-link:hover {
    text-decoration: none;
}

.player-link:hover .player-number {
    background-color: #ed1f24;
}

.player-list .player-number {
    display: inline-block;
    width: 20px;
    text-align: center;
    padding: 4px;
    color: #fff;
    background-color: #32528c;
    margin-right: 5px;
}

.player-stats {
    border-top: 3px solid #2294e5;
}

.player-stats td {
    padding-left: 10px;
    border-bottom: 1px solid #363e8a;
}

.player-stats th {
    border-bottom: 1px solid #363e8a;
    border-right: 1px solid #363e8a;
}

/* Twitter widget */

.twitter {
    /*padding-top: 25px;*/
}

.tweet_list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.tweet_list li {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    list-style-type: none;
}

.tweet_list li a {

}

.tweet_list .tweet_odd {
    background-color: #293173;
}

.tweet_list .tweet_avatar {
    margin-right: 5px; 
    float: left;
    border-bottom: 1px solid #f0696d;
}

.tweet_avatar img {
    vertical-align: middle;
}

.tweet_time {
    display: block;
}

/* Score table */
.tournament-header h2 {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 24px;
}

.tournament-header h3 {
    margin-bottom: 0;
}

.tournament-dates {
    font-weight: normal;
    display: inline-block;
    padding-left: 5px;
}

.tournament-games {
    border-top: 3px solid #2294e5;    
}

.tournament-games td {
    padding: 5px 10px;
    border-bottom: 1px solid #363e8a;
}

.tournament-game-opponent {
    border-left: 1px solid #363e8a;
}

.tournament-game-opponent, .tournament-game-doublewide {
    width: 120px;
}

.tournament-game-score {
    font-weight: bold;
    border-left: 1px solid #363e8a;
}


/* Sponsors */

.sponsors-header {
    border-top: 1px solid #363e8a;
    padding-top: 10px;
    margin-top: 50px;
}

.sponsor a.sponsor-logo {
    float: left;
    margin: 3px 10px 30px 0;
}

/* Utility */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}